{% extends 'base.html' %}
{% block content %}

<h1>Event Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ event.name }}</span>
                <p>Type: {{ event.type }}</p>
                <p>Description: {{ event.description }}</p>
                <p>Rating: {{ event.rating }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'events_update' event.id %}">Edit</a>
                <a href="{% url 'events_delete' event.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">

        <form action="{% url 'add_schedule' event.id %}" method="POST">
            {% csrf_token %}
            {{ schedule_form.as_p }}
            <input type='submit' class='btn' value='Schedule'>
        </form>

        <table class="striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Time of Day</th>
            </tr>
            </thead>
            <tbody>
            {% for s in event.schedule_set.all %}
            <tr>
                <td>{{s.date}}</td>
                <td>{{s.get_timeofday_display}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr>

<div class="row">
    <div class="col s6">
        <h3>{{event.name}} Performers</h3>
        {% if event.performers.count %}
            {% for p in event.performers.all %}
                <div class="card">
                    <div class="card-content">
                        <span class='card-title'>
                            Performer: {{ p.name }} ({{ p.profession }})
                        </span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>No performers listed yet.</h5>
        {% endif %}
    </div>

    <div class="col s6">
        <h3>Available Performers</h3>
        {% if performers.count %}
            {% for p in performers.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card title">
                            Performer: {{ p.name }} ({{ p.profession }})
                        </span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>No other performers available</h5>
        {% endif %}
    </div>
</div>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    
    const selectEl = document.getElementById('id_timeofday');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}